PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/avp_education?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
CLIENT_URL=https://avp-global-education-tau.vercel.app
ADMIN_EMAIL=crcnitrox@gmail.com
ADMIN_PASSWORD=your_secure_admin_password
